/* Header CSS */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #604a36;
  color: white;
  top: 0;
}

.linkHome {
  margin: 0.5rem;
  margin-right: auto;
  font-size: 30px;
  font-weight: bolder;
}

a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .header,
  .navbar {
    flex-direction: column;
  }

  .linkHome {
    margin: 0 auto;
  }
}
