/* Home CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  box-sizing: border-box;
  color: #301701;
  background: #c2a693;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Barre de recherche CSS*/

.inputContainer {
  width: 30%;
  position: relative;
  display: flex;
}

.searchInput {
  width: 100%;
  border: 3px solid lightblue;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #301701;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Roboto Flex', sans-serif;
}

.searchInput:focus {
  color: #301701;
}

::placeholder {
  color: #301701;
  font-family: 'Roboto Flex', sans-serif;
}

@media only screen and (max-width: 600px) {
  .inputContainer,
  .searchInput {
    width: 70%;
    margin: 0 auto;
  }
}

/* Banner CSS */

.bannerDiv {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.GhibliLogo {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.9;
}
